spring:
  application:
    name: eureka-server

server:
  port: ${EUREKA_SERVER_PORT:8761}

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

  instance:
    hostname: ${EUREKA_INSTANCE_HOSTNAME:localhost}
    prefer-ip-address: true

  server:
    enable-self-preservation: true
    eviction-interval-timer-in-ms: 60000
